resource_group_name = "viktor-rg"
location            = "eastus"
cluster_name        = "viktor-expensy"
dns_prefix          = "viktor-expensy"
node_count          = 1
vm_size             = "Standard_B2s"
